$black: #000;
$white: #FFF;

$blue:#154194;
$blue-dark: darken($blue, 30%);
$blue-light: lighten($blue, 30%);

$grey-light: #f7f7f7;
$grey-medium: #cecece;
$grey-dark: #707070;

$red: #e30613;
$red-dark: darken($red, 30%);
$red-light: lighten($red, 45%);

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;