html, body {
	height: 100%;
}

body {
	font-weight: 300;

	.logo {
		height: 60px;
	}
}

.bg-img .page-bg {
	background-image: url("https://www.fillmurray.com/1400/788");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: fixed;
	width: 100vw;
	z-index: -1;

	&.page-bg-blurry {
		filter: blur(.6em) saturate(.7);
		transform: scale(1.1);
	}
}

.bg-light{
	background-color: $container-bg-light!important;
}
.bg-medium{
	background-color: $container-bg-medium!important;
}
.bg-dark{
	background-color: $container-bg-dark!important;
}
.bg-danger{
	background-color: $brand-danger!important;
}
.bg-primary{
	background-color: $secondary!important;
}

section {
	padding: $container-padding 0;
	@include media-breakpoint-down(md) {
		padding: $container-padding-mobile;
	}

	&.section-light {
		background-color: $container-bg-light!important;
	}
	&.section-medium {
		background-color: $container-bg-medium!important;
	}

	&.section-dark{
		background: linear-gradient(to bottom right, $blue-dark, $blue-light);
	}

	.heading {
		padding-bottom: 1rem;

		i {
			padding-right: 0.5rem;
		}
	}
	//.heading
}

/*
 *  Slim Header section
 */
section.section-slim {
	padding: 1vh 0;
	h1, h2 {
		display: inline;
		padding-right: 0.5rem;
		line-height: 2.5rem;
	}
	.heading {
		padding-bottom: 1rem;
	}
}

section.section-wide {
	padding-top: 4vh;
	padding-bottom: 4vh;
}


/**
Sections with column bg-images
 */
section.section-bg-image{
	@include media-breakpoint-up('md'){
		padding: 0;
		overflow-y: unset;

		.img-below-bottom{
			margin-bottom: -5vh;
		}

		div[class*='col-']:not(.bg-image){
			padding: $container-padding 0;
		}

		//bg-img-col on left side
		div[class*='col-'].bg-image {
			right: 50%;

			@include media-breakpoint-up(xl){
				right: 37%;
			}
		}

		//bg-img-col on right side
		div[class*='col-'] + div[class*='col-'].bg-image{
			right: 0;
		}
	}
}

/*
 * Jump above anchor
 */
.anchor {
	display: block;
	position: relative;
	top: -2rem; /*same height as header*/
	visibility: hidden;
}

.back-to-top {
	color: $text-color-hover;
	cursor: pointer;
	position: fixed;
	bottom: 80px;
	right: 15px;
	//display: none;
	z-index: 900;
	padding: 1rem;

	.fa-stack i {
		font-weight: bold;
	}
	.fa-stack > .fa-stack-1x{
		padding-right: 0.15rem;
		margin-top: -0.15rem;
	}
	@include media-breakpoint-down('md'){
		bottom: 40px;
	}
}

.no-gutters {
	margin-bottom: 10px;

	> [class*='col-'] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

noscript {
	color: $danger;
	width: 100%;
	text-align: center;
	margin-top: 3rem;
}